<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Transfer Completed</title>
</head>

<body>

<h2>Transfer Completed Successfully</h2>

<p>Hello,Attia</p>

<p>
    Your transfer has been completed successfully.
</p>

<table>

    <tr>
        <td><strong>Transfer ID</strong></td>
        <td th:text="${transferId}"></td>
    </tr>

    <tr>
        <td><strong>From Account</strong></td>
        <td th:text="${sourceAccountId}"></td>
    </tr>

    <tr>
        <td><strong>To Account</strong></td>
        <td th:text="${destinationAccountId}"></td>
    </tr>

    <tr>
        <td><strong>Amount</strong></td>
        <td>
            <span th:text="${amount}"></span>
            <span th:text="${currency}"></span>
        </td>
    </tr>

</table>


<p>
    Thank you for using our Investment  platform.
</p>


</body>

</html>